# Archivos y carpetas generados por .NET
bin/
obj/
*.user
*.suo

# Configuraciones locales
*.vs/
.vscode/
.env

# Archivos de despliegue
docker-compose.override.yml

# Logs y cachés
*.log

# IDEs y herramientas adicionales
.idea/
*.vscode/

# Archivos de backup o temporales
*.bak
*.tmp
~$*
.fake

# No subir lo que está dentro de wwwroot
wwwroot/*

# No subir lo que está dentro de uploads
uploads/*

# Google services
google-services.json